* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
   
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#f4e6ff 50%, #4b0082 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}



.open-button a{
  color: #f4e6ff;
  text-decoration: none;
}


h2 {
    font-size: 37px;
    font-weight: 600;
    color: #f4e6ff;
    margin: 1em 0;
  }
  
h3 {
  font-size: 25px;
  font-weight: 600;
  color: #4b0082;
  margin: 1em 0;
}
.icon-wrapper {
  background-color: #4b0082;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #f4e6ff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}


@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4e6ff;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #4b0082;
    display: block;
  }
  
  
  /* Style the main content */
  .main {
    margin-left: 150px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  .icon-wrap {
    position: fixed;
    z-index: 0;
    top: 5%;
    right: 0;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #f4e6ff;
    place-items: right;
    
  }

  /*{box-sizing: border-box;}*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #4b0082;
  color: #f4e6ff;
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  margin: auto;
  box-sizing:border-box;
 
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
 bottom: 0;
  right: 15px;
  border: 3px solid #f4e6ff;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f4e6ff;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #f4e6ff;
  color: #4b0082;
}
.card:hover h3 {
  color: #f4e6ff;
}
.card:hover p {
  color: #f0f0f0;
}
.card:hover .open-button {
  background-color: #f4e6ff;
  color: #4b0082;
}
.card:hover .open-button  a{
  color: #4b0082;
}

